<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    
    <!-- Please add this to your document head -->
    <link rel="preconnect" href="//unity-plugin.iamdave.ai">
    <link rel="preconnect" href="//d3nxn5bl526zn7.cloudfront.net">
    <link type="text/css" rel="stylesheet" href="dist/1.0/style.min.css"></link>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <!-- Code to add in Head-->
    

    <link type="text/css" rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>


<body>
    <!-- Please add this to your document body -->
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="//d3nxn5bl526zn7.cloudfront.net/maruti_brands/spresso/1.0/web.css">
    <script type="text/javascript" src="//unity-plugin.iamdave.ai/unity/brands_arena/ProjectBuild.loader.js"></script>
    <script type="text/javascript" src="dist/js/socket.io-mini.js"></script>
    <script type="text/javascript" src="dist/js/socket.stream.io-mini.js"></script>
    <script type="text/javascript" src="dist/js/RecordRTC-mini.js"></script> 
    <!-- <script type="text/javascript" src="lib/flac-dep.js"></script>  -->
    <!-- <script type="text/javascript" src="lib/cameraControls.js"></script>  -->
    <script type="text/javascript" src="dist/js/vad-mini.js"></script>
    <script type="text/javascript" src="build/1.0/avatar-conversation-plugin.js"></script>
    <script type="text/javascript" src="web.js"></script>
    <div id='loaded_whiteboard' class="arena">
        <div style='width:100%; height: 100%;'>
            <img src='//d3nxn5bl526zn7.cloudfront.net/maruti_brands/arena/dave_init.webp' width='100px' style='cursor: pointer'>
        </div>
    </div>

    <!-- Please replace this in your custom script file -->
    <script>
        $( document ).ready(function(){
            $("#loaded_whiteboard").daveConversationSetup({});
            set_cc.resize =  [-80, -35];
        });
    </script>
</body>
<!--
%s/general-iamdave-mumbai.s3.ap-south-1.amazonaws.com/dmtsjlrqri08m.cloudfront.net/gc
%s/s3.ap-south-1.amazonaws.com/dmtsjlrqri08m.cloudfront.net/gc
%s/chatbot-plugin.iamdave.ai/d17zqm5ossbwlx.cloudfront.net/gc


%s/dmtsjlrqri08m.cloudfront.net/general-iamdave-mumbai.s3.ap-south-1.amazonaws.com/gc
%s/dmtsjlrqri08m.cloudfront.net/s3.ap-south-1.amazonaws.com/gc
%s/d17zqm5ossbwlx.cloudfront.net/chatbot-plugin.iamdave.ai/gc
-->
