.butn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "MyriadPro-Semibold" !important;
}

.butn:hover {
  color: #212529;
  text-decoration: none;
}

.butn:focus,
.butn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.butn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0.2rem;
}

@media (prefers-reduced-motion: reduce) {
  .butn {
    transition: none;
  }
}

.butn:hover {
  color: #212529;
  text-decoration: none;
}

.butn:focus,
.butn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.butn.disabled,
.butn:disabled {
  opacity: 0.65;
}

a.butn.disabled,
fieldset:disabled a.butn {
  pointer-events: none;
}

.butn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.butn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.butn-primary:focus,
.butn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.butn-primary.disabled,
.butn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.butn-primary:not(:disabled):not(.disabled):active,
.butn-primary:not(:disabled):not(.disabled).active,
.show > .butn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.butn-primary:not(:disabled):not(.disabled):active:focus,
.butn-primary:not(:disabled):not(.disabled).active:focus,
.show > .butn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.butn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.butn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.butn-secondary:focus,
.butn-secondary.focus {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.butn-secondary.disabled,
.butn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.butn-secondary:not(:disabled):not(.disabled):active,
.butn-secondary:not(:disabled):not(.disabled).active,
.show > .butn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.butn-secondary:not(:disabled):not(.disabled):active:focus,
.butn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .butn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.butn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.butn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.butn-success:focus,
.butn-success.focus {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.butn-success.disabled,
.butn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.butn-success:not(:disabled):not(.disabled):active,
.butn-success:not(:disabled):not(.disabled).active,
.show > .butn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}
.avatar_container {
  width: 50% !important;
  display: flex;
  /* height: 300px; */
  position: absolute;
  right: 0px;
  bottom: 70px;
  z-index: 999;
}

.avatar_container canvas {
  width: 70%;
}

.butn-success:not(:disabled):not(.disabled):active:focus,
.butn-success:not(:disabled):not(.disabled).active:focus,
.show > .butn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.butn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.butn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.butn-info:focus,
.butn-info.focus {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.butn-info.disabled,
.butn-info:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.butn-info:not(:disabled):not(.disabled):active,
.butn-info:not(:disabled):not(.disabled).active,
.show > .butn-info.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.butn-info:not(:disabled):not(.disabled):active:focus,
.butn-info:not(:disabled):not(.disabled).active:focus,
.show > .butn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.butn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.butn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.butn-warning:focus,
.butn-warning.focus {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.butn-warning.disabled,
.butn-warning:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.butn-warning:not(:disabled):not(.disabled):active,
.butn-warning:not(:disabled):not(.disabled).active,
.show > .butn-warning.dropdown-toggle {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

.butn-warning:not(:disabled):not(.disabled):active:focus,
.butn-warning:not(:disabled):not(.disabled).active:focus,
.show > .butn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.butn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.butn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.butn-danger:focus,
.butn-danger.focus {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.butn-danger.disabled,
.butn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.butn-danger:not(:disabled):not(.disabled):active,
.butn-danger:not(:disabled):not(.disabled).active,
.show > .butn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.butn-danger:not(:disabled):not(.disabled):active:focus,
.butn-danger:not(:disabled):not(.disabled).active:focus,
.show > .butn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.butn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.butn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.butn-light:focus,
.butn-light.focus {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.butn-light.disabled,
.butn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.butn-light:not(:disabled):not(.disabled):active,
.butn-light:not(:disabled):not(.disabled).active,
.show > .butn-light.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.butn-light:not(:disabled):not(.disabled):active:focus,
.butn-light:not(:disabled):not(.disabled).active:focus,
.show > .butn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.butn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.butn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.butn-dark:focus,
.butn-dark.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.butn-dark.disabled,
.butn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.butn-dark:not(:disabled):not(.disabled):active,
.butn-dark:not(:disabled):not(.disabled).active,
.show > .butn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.butn-dark:not(:disabled):not(.disabled):active:focus,
.butn-dark:not(:disabled):not(.disabled).active:focus,
.show > .butn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.butn-outline-primary {
  color: #2d3494;
  border-color: #2d3494;
}

.butn-outline-primary:hover {
  color: #fff;
  background-color: #2d3494;
  border-color: #2d3494;
}

.butn-outline-primary:focus,
.butn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.butn-outline-primary.disabled,
.butn-outline-primary:disabled {
  color: #2d3494;
  background-color: transparent;
}

.butn-outline-primary:not(:disabled):not(.disabled):active,
.butn-outline-primary:not(:disabled):not(.disabled).active,
.show > .butn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #2d3494;
  border-color: #2d3494;
}

.butn-outline-primary:not(:disabled):not(.disabled):active:focus,
.butn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .butn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.butn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.butn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.butn-outline-secondary:focus,
.butn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.butn-outline-secondary.disabled,
.butn-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent;
}

.butn-outline-secondary:not(:disabled):not(.disabled):active,
.butn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .butn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.butn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.butn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .butn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.butn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.butn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.butn-outline-success:focus,
.butn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.butn-outline-success.disabled,
.butn-outline-success:disabled {
  color: #28a745;
  background-color: transparent;
}

.butn-outline-success:not(:disabled):not(.disabled):active,
.butn-outline-success:not(:disabled):not(.disabled).active,
.show > .butn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.butn-outline-success:not(:disabled):not(.disabled):active:focus,
.butn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .butn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.butn-outline-info {
  color: #17a2b8;
  border-color: #17a2b8;
}

.butn-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.butn-outline-info:focus,
.butn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.butn-outline-info.disabled,
.butn-outline-info:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.butn-outline-info:not(:disabled):not(.disabled):active,
.butn-outline-info:not(:disabled):not(.disabled).active,
.show > .butn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.butn-outline-info:not(:disabled):not(.disabled):active:focus,
.butn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .butn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.butn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}

.butn-outline-warning:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.butn-outline-warning:focus,
.butn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.butn-outline-warning.disabled,
.butn-outline-warning:disabled {
  color: #ffc107;
  background-color: transparent;
}

.butn-outline-warning:not(:disabled):not(.disabled):active,
.butn-outline-warning:not(:disabled):not(.disabled).active,
.show > .butn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.butn-outline-warning:not(:disabled):not(.disabled):active:focus,
.butn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .butn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.butn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.butn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.butn-outline-danger:focus,
.butn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.butn-outline-danger.disabled,
.butn-outline-danger:disabled {
  color: #dc3545;
  background-color: transparent;
}

.butn-outline-danger:not(:disabled):not(.disabled):active,
.butn-outline-danger:not(:disabled):not(.disabled).active,
.show > .butn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.butn-outline-danger:not(:disabled):not(.disabled):active:focus,
.butn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .butn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.butn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.butn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.butn-outline-light:focus,
.butn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.butn-outline-light.disabled,
.butn-outline-light:disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.butn-outline-light:not(:disabled):not(.disabled):active,
.butn-outline-light:not(:disabled):not(.disabled).active,
.show > .butn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.butn-outline-light:not(:disabled):not(.disabled):active:focus,
.butn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .butn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.butn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.butn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.butn-outline-dark:focus,
.butn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.butn-outline-dark.disabled,
.butn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}

.butn-outline-dark:not(:disabled):not(.disabled):active,
.butn-outline-dark:not(:disabled):not(.disabled).active,
.show > .butn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.butn-outline-dark:not(:disabled):not(.disabled):active:focus,
.butn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .butn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.butn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}

.butn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.butn-link:focus,
.butn-link.focus {
  text-decoration: underline;
  box-shadow: none;
}

.butn-link:disabled,
.butn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.butn-lg,
.butn-group-lg > .butn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.butn-sm,
.butn-group-sm > .butn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.butn-block {
  display: block;
  width: 100%;
}

.butn-block + .butn-block {
  margin-top: 0.5rem;
}

/* #### Generated By: http://www.cufonfonts.com #### */

.gj-picker-bootstrap table tr td div,
.gj-picker-bootstrap table tr th div {
  color: black;
}
.butn .butn-outline-secondary .border-left-0 {
  height: 100%;
  margin-top: unset;
  background: aliceblue;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "MyriadPro-It";
  font-style: normal;
  font-weight: normal;
  src: local("MyriadPro-It"), url("MyriadPro-It.ttf") format("truetype");
}
@font-face {
  font-family: "MyriadPro-Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("MyriadPro-Semibold"),
    url("MyriadPro-Semibold.ttf") format("truetype");
}

/*
  @font-face {
      font-family: 'OCR A Std';
      font-style: normal;
      font-weight: normal;
      src: local('OCR A Std'), url('OCRAStd.woff') format('woff');
  }*/

@font-face {
  font-family: "Tw Cen MT ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Tw Cen MT ExtraBold"), url("TCCEB.TTF") format("truetype");
}
/*
  @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: normal;
      src: local('Open Sans'), url('OpenSans-Light.ttf') format('truetype');
  }*/

.dave_conversation .dave-chat {
  height: 100%;
  border-radius: 20px;
  font-family: "MyriadPro-Semibold" !important;
}

.dave_conversation.full .dave-chat {
  border-radius: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.middle-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #0d0d0d;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0d0d0d;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0d0d0d;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}
/* Slider */

.bg-variants {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: relative;

  background-image: url(/static/img/cut_cornor.png);
  background-position-x: right;
  background-position-y: bottom;
  background-size: 300px;
  background-repeat: no-repeat;
  border-radius: inherit;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: inherit;
  }
  49% {
    color: inherit;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: inherit;
  }
}

/* dave home screen  */
.bg-green {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-image: linear-gradient(
    to right bottom,
    #58e8a8,
    #00cac0,
    #00a7cd,
    #0082c7,
    #005aa9
  );
  position: relative;
}

.dave-whiteboard {
  height: 100%;
  border-radius: inherit;
}

.slideup-div {
  opacity: 0.9;
  background: whitesmoke;
  color: #0d0d0d;
  width: 100%;
  min-height: 150px;
  z-index: 100;
  bottom: 0;
  left: 0;
  position: fixed;
  padding-top: 20px;
  font-size: 3em;
  box-shadow: grey 0px -10px 15px 5px;
  --webkit-animation: fadeIn 1s;
}

.bg-green > div:first-child {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dave-message {
  display: block;
  position: relative;
  height: 50px;
}

.current-message {
  display: table-cell;
  overflow-y: auto;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  position: relative;
  max-height: 100px;
  overflow-y: auto;
}
.message-block {
  display: block;
  overflow-y: auto;
  height: 90px;
}
.dave_conversation .chat-header {
  overflow-y: hidden;
  font-family: "MyriadPro-It" !important;
  position: absolute;
  z-index: 10;
  height: 90px;
  padding: 5px 20px;
  overflow-y: hidden;
  background: #f7f7f7;
  /* opacity: 0.75; */
  width: 100%;
  /* width: calc(100% - 40px); */
  border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-top-right-radius: 20px;
  -khtml-border-top-right-radius: 20px;

  border-top-right-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-top-right-radius: 20px;
  -khtml-border-top-right-radius: 20px;
}
.dave_conversation.full .chat-header {
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;

  border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;
}

.logo {
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
  max-width: 150px;
}
a:not([href="#"]) > .logo:hover {
  transform: scale(1.2);
}

.logo-sub {
  height: 20px;
}

.dave_conversation .chat-body {
  height: 100%;
  overflow-y: auto;
  /*font-family: 'Open Sans' !important;*/
  border-radius: 20px;
}
.dave_conversation.full .chat-body {
  border-radius: 0px;
}
.chat-body .content {
  padding: 0px;
  position: relative;
  height: 100%;
  margin-top: 0px;
}
.whiteboard {
  height: 100%;
}

.search-wraper {
  border-radius: 5px;
  border-style: groove;
  border-width: 1px;
  background-color: #fff !important;
  margin-top: 10px;
  font-size: 25px;
  width: 98%;
  padding: 10px;
  margin-left: 1%;
}

.messages-div {
  height: calc(100% - 75px);
  overflow-y: auto;
}

.dave-input-buttons > img {
  height: 25px;
  cursor: pointer;
}
.dave-input-buttons > img:hover {
  transform: scale(1.2);
}

.text-wraper input {
  color: black;
  width: calc(100% - 45px);
  margin: 0px 10px;
  background: transparent;
  border: none;
}

.text-wraper input::placeholder {
  color: black;
}

.text-wraper span.send {
  cursor: pointer;
  color: #2d3494;
}

.text-wraper span.send:hover {
  transform: scale(1.2);
}
.search-wraper input {
  color: black;
  margin: 0px 10px;
  background: transparent;
  border: none;
  margin-right: 0px;
  width: calc(100% - 60px);
}
.search-wraper input:focus,
.text-wraper input:focus {
  outline: none;
}
.search-wraper:focus-within {
  border-width: 1.5px;
  background: #fff;
  font-size: 25px;
}

.bottom-wraper {
  position: absolute;
  width: calc(100% - 10px);
  bottom: 10px;
  left: 10px;
}

.text-wraper {
  border-radius: 10px;
  border-style: groove;
  border-width: 2px;
  background-color: white;
  font-size: 15px;
  width: calc(100% - 100px);
  display: inline-block;
}
.text-wraper.full {
  width: calc(100% - 22px);
}

.reponse-wraper {
  border-radius: 10px;
  background-color: #f7f7f7;
  opacity: 0.75;
  font-size: 25px;
  width: unset;
  display: inline-block;
}
.reponse-wraper a {
}
.text-wraper:focus-within {
  border-width: 3px;
  font-weight: 600;
}

/*messages css goes here*/
.messages-panel {
  overflow-y: auto;
}
.messages {
  position: relative;
  list-style: none;
  padding: 10px 10px 0 10px;
  margin: 0;
  height: calc(100% - 70px);
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.5s linear;
}
.messages .message.left .avatar {
  background: url("/static/img/dave.png");
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
}
.messages .message.left .text_wrapper {
  background-color: #295bf2;
  /*background: url("../img/message-left.svg");*/
  margin-left: 5px;
  /*border-radius: 2px 10px 10px 10px;*/
  border-radius: 5px;
  background-size: cover;
  -webkit-mask-image: radial-gradient(
    circle 1px at 0% 100%,
    transparent 0,
    transparent 10px,
    black 10px
  );
  mask-image: radial-gradient(
    circle 1px at 0% 100%,
    transparent 0,
    transparent 10px,
    black 10px
  );
}

.messages .message.loading.left .text_wrapper {
  background: transparent;
}

.messages .message.left .text {
  color: #fff;
  /*animation: typing 0.9s steps(40, end),blink-caret .75s step-end infinite;*/
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.messages .message.right .avatar {
  background-color: #3c8dbc;
  color: #fff;
  float: right;
}
.messages .messages.right div:first {
  float: right;
}
.messages .message .avatar {
  text-align: center;
  padding-top: 10px;
}
.messages .message.right .text_wrapper {
  background-color: #0ab9fc;
  margin-right: 5px;
  border-radius: 5px;
  /*border-radius: 10px 2px 10px 10px;*/
  /*background: url("../img/message-right.svg");*/
  background-size: cover;
  background-position-x: right;
  -webkit-mask-image: radial-gradient(
    circle 1px at 100% 100%,
    transparent 0,
    transparent 10px,
    black 10px
  );
  mask-image: radial-gradient(
    circle 1px at 100% 100%,
    transparent 0,
    transparent 10px,
    black 10px
  );
}
.messages .message.right .text {
  color: #373a3c;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 6px;
  min-width: 100px;
  position: relative;
  background: #ebebeb;
  color: #222;
  max-width: 70%;
}
.messages .message .text_wrapper .text a {
  color: lightyellow;
}

.messages .message.left .text_wrapper .text > .highlight {
  background-color: #e6e6e6;
  color: #295bf2;
  padding: 3px;
}
.messages .message.right .text_wrapper .text > .highlight {
  background-color: #295bf2;
  color: #e6e6e6;
  padding: 3px;
}

.messages .message .text_wrapper .text {
  font-weight: 300;
  word-break: break-word;
  font-size: medium;
  padding: 10px 5px;
}

/* Options panel css */
.options-panel {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 30%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.options-panel.form {
  font-size: 12px;
  min-width: 350px;
  text-align: left;
  max-width: 600px;
  height: calc(100vh - 330px);
  overflow-y: auto;
  top: 110px;
  left: 20px;
  -ms-transform: unset;
  transform: unset;
  border-radius: 10px;
  background: white;
  padding: 5px 5px 5px 20px;
}

.options-panel.image {
  min-width: 350px;
  text-align: left;
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
  top: 120px;
  left: 20px;
  -ms-transform: unset;
  transform: unset;
}
.options-panel.image img {
  width: 100%;
  max-height: 100%;
  border-radius: 20px;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

/* Buttons css */
.butn {
  margin-top: 5px;
}
.butn.b1 {
  text-transform: uppercase;
  padding: 0.75rem 1rem;
}
.butn.b2 {
  text-transform: uppercase;
  padding: 1.25rem 1.75rem;
}

.butn.b3,
.butn.b3 {
  text-transform: uppercase;
  padding: 1.75rem 2.25rem;
}
.butn.nobg,
.butn.nobg {
  background: transparent;
  border-style: groove;
  border-width: 3px;
  border-color: #fff;
  color: #fff;
}
.butn.rounded,
.butn.rounded {
  border-style: groove;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
  border-radius: 50%;
}
.butn.white,
.butn.white {
  background: #fff;
  border-color: #00bdf4;
  color: #00bdf4;
}

.butn-success-invert {
  background-color: beige;
  color: black;
}

.butn-primary,
.butn-primary:hover,
.butn-primary:active,
.butn-primary:visited,
.butn-primary:focus {
  background-color: #00c3dd;
  border-color: #00c3dd;
  font-weight: 900;
}

small {
  font-weight: 600;
}

/* Street background */
.street-bg {
  background: url("../img/bg.jpg");
  border-radius: 10px;
  background-size: cover;
  background-position-x: center;
  min-height: 500px;
  background-position-y: bottom;
}

.white-bg {
  background-color: #808080;
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #f1eaee,
    #e8d4d3,
    #d6c2b3,
    #b5b59a
  );
  border-radius: inherit;
  min-height: 500px;
  padding: 15px;
  height: calc(100% - 125px);
  overflow-y: auto;
}

.gray-bg {
  background-color: #808080;
  background-image: linear-gradient(
    to right bottom,
    #666666,
    #6b6b6b,
    #6f6f6f,
    #747474,
    #797979,
    #818181,
    #888888,
    #909090,
    #9c9c9c,
    #a9a9a9,
    #b5b5b5,
    #c2c2c2
  );
  border-radius: 20px;
  min-height: 500px;
  padding: 15px;
  height: calc(100% - 125px);
  overflow-y: auto;
}

.multi-bg {
  height: 100%;
  background-image: linear-gradient(
    75deg,
    #00bdf4,
    #009df3,
    #007aed,
    #0054dd,
    #0f20bf
  );
  font-size: 1.5em;
  border-radius: 10px;
  padding: 10px;
}
.multi-bg > div {
  position: absolute;
  bottom: 0px;
  font-size: 1.3em;
}

/* Table structer */
.tab-title {
  text-align: center;
  color: #2b2b2b;
  background: #fff;
  text-transform: uppercase;
  font-style: italic;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
  font-family: "Tw Cen MT ExtraBold";
  font-size: larger;
}

.tab-heading {
  text-align: center;
  background: #2b2b2b;
  color: #fff;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 20px;
  display: inline-block;
  font-family: "Tw Cen MT ExtraBold";
  font-size: larger;
}

.tab-row {
  color: #dbdbdb;
  background: #000000;
  margin-bottom: 1px;
  border-radius: 10px;
  padding: 5px;
  font-family: "Tw Cen MT ExtraBold";
}

.whiteboard {
  background: url(/static/img/white_board_background.jpg), rgba(10, 10, 10, 0.2);
  position: relative;
  background-position-y: center;
  background-size: cover;
  background-position-x: right;
  background-blend-mode: hard-light;
}

.image-galery {
  padding: 10px;
}
.image-galery img {
  border-radius: 10px;
  margin: 5px;
}

.image-galery img.info-image {
  border-radius: 10px;
  margin: 5px;
}

.overlay-pane {
  border-radius: 10px;
  padding: 20px;
}

.loading {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.try_saying {
  background-color: #f7f7f7;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "MyriadPro-Semibold";
  font-style: italic;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media only screen and (min-width: 600px) {
  .overlay-panel {
    position: absolute;
    z-index: 1;
    top: 0;
  }
  .image-galery img.info-image {
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    opacity: 0.6;
    height: 100%;
  }
  .image-galery img.main-image {
    width: calc(65% + 10px);
    height: 65%;
  }

  .image-galery img.prop-image {
    width: 32.5%;
    height: 32.5%;
  }
  .options-panel {
    min-width: 350px;
    max-width: 90%;
    max-height: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .overlay-panel {
    z-index: 1;
    color: #000000;
    position: unset;
  }
  .image-galery img.info-image {
    margin: 5px;
    width: 100%;
    border-radius: 10px;
  }
  .image-galery img.main-image {
    width: 100%;
    height: 30%;
  }

  .image-galery img.prop-image:nth-child(3n) {
    width: 65%;
    height: 32.5%;
  }
  .image-galery img.prop-image:nth-child(3n + 1) {
    width: 32.5%;
    height: 32.5%;
  }
  .image-galery img.prop-image:nth-child(3n + 2) {
    width: 65%;
    height: 32.5%;
  }

  .dave-message {
    width: 97%;
    /*padding: 5px;*/
    display: inline-block;
    height: 60px;
    overflow-y: auto;
    position: unset;
  }
  .chat-body {
    height: 100%;
  }
  .current-message {
    width: calc(100vw - 55px);
    top: 0px;
  }
  .logo-sub {
    float: right;
    margin-right: 35vw;
    height: 40px;
  }
  .options-panel {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
  }
}

/* Check box  css */

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.15em;
  left: 0.22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

#unityContainer {
  background: transparent;
  width: 99.95%;
  height: 99.95%;
  position: absolute;
  top: 50%;
  bottom: unset;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.powered_by {
  position: absolute;
  z-index: 1000;
  right: 30px;
  top: 20px;
}
.whiteboard {
  background: white;
}

.pac-container {
  background-color: #fff;
  z-index: 2000;
  position: fixed;
  display: inline-block;
  float: none;
}

.butn.butn.white {
  background: white;
  font-weight: 900;
  padding-bottom: 3px;
}
.ent_logo {
  position: absolute;
  height: 90%;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cc {
  margin: 20px 10px;
}
#fullscreen {
  margin-left: 30px;
  margin-top: 22px;
}
.text-wraper {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
}
.butn-dark {
  background-color: black;
  color: white;
  border-width: 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
}
.butn-dark-invert {
  background-color: white;
  color: black;
  border-width: 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
}
.dave-message {
  z-index: 11;
  top: 0px;
  width: 100%;
  min-height: 90px;
  margin-left: -20px;
  opacity: 1;
  padding: 0px 0px 0px 80px;
  line-height: 1.2;
  display: table;
}
.current-message span {
  font-family: "MyriadPro-It" !important;
}
.quick_access {
  width: calc(100% - 100px);
  padding-bottom: 10px;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 0px;
}

.searchable {
  position: absolute;
  bottom: 50px;
  left: 10px;
  max-height: 130px;
  overflow-y: auto;
  font-size: smaller;
  padding: 5px;
  background: white;
  border-radius: 5px;
  color: gray;
}
.searchable ul {
  position: relative;
  color: #000000;
}
.dave_conversation .searchable li {
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  font-family: "MyriadPro-Semibold" !important;
  border: unset;
}
/* .dave_conversation .searchable li:hover{
    background-color: aliceblue;
  } */
.dave_conversation .searchable li:hover > span {
  /* background-color: inherit; */
  /* border-style: groove; */
  /* border-width: 2px; */
  /* border-color: lightgray; */

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 5px;
  opacity: 1;
  padding: 4.5px;
}
.dave_conversation .searchable li > span {
  display: block;
  padding: 5px;
  border-radius: 5px;
}

/*#shortcut{
      position: absolute;
      top: 130px;
      transform: translate(-50%, -50%);
      left: 50%;
  }*/
#shortcut {
  overflow-x: auto;
  white-space: nowrap;
}
.dave_conversation .speak_butn {
  padding: 30px 5px 5px 30px;
  color: #2d3494;
  background-color: white;
  margin-top: -1px;
  position: absolute;
  right: 0px;
  bottom: -10px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;

  border-top-left-radius: 100%;
  -webkit-border-top-left-radius: 100%;
  -moz-border-top-left-radius: 100%;
  -khtml-border-top-left-radius: 100%;

  border-bottom-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-bottom-right-radius: 20px;
  -khtml-border-bottom-right-radius: 20px;
}
.dave_conversation.full .speak_butn {
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
}

.speak_butn.active {
  padding: 30px 5px 5px 30px;
  color: white;
  background-color: red;
}
.dave_conversation {
  height: 95%;
  width: 95%;
  position: fixed;
  z-index: 100;
  left: 2.5%;
  top: 2.5%;
  box-shadow: 0px 0px 20px 2px grey;
  border-radius: 20px;
}
.dave_conversation.full {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0%;
  top: 0%;
  box-shadow: 0px 0px 0px 0px grey;
  border-radius: 0px;
  display: block !important;
}
.gifLoaderConversation {
  max-width: unset;
  max-height: unset;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  z-index: 10000;
  box-shadow: 0px 0px 20px 2px grey;
  border-radius: 20px;
}

@media only screen and (max-width: 767px) {
  .dave_conversation .searchable li {
    padding: 0.25rem 0.7rem;
  }
  #unityContainer {
    top: unset;
    bottom: -14vh;
  }
  .dave_conversation {
    top: unset;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 0px 5px 5px gray;
  }
  .speak_butn {
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    -khtml-border-bottom-right-radius: 0px;

    padding: 25px 5px 5px 25px;
  }
  .speak_butn.active {
    padding: 25px 5px 5px 25px;
    color: white;
    background-color: red;
  }
  .quick_access {
    width: 100%;
    padding-bottom: 2px;
    margin-top: -3px;
  }
  .quick_access > .butn,
  #shortcut > .butn {
    font-size: 10px;
  }
  .dave-message {
    top: 0px;
    margin-left: 0px;
    padding: 5px 5px 0px 5px;
    max-height: unset;
    min-height: unset;
    line-height: 1.2;
    width: 97%;
  }
  .message-block {
    height: 60px;
  }

  .bottom-wraper {
    width: calc(100% - 5px);
    bottom: 5px;
    left: 5px;
  }
  .text-wraper {
    width: calc(100% - 80px);
  }
  .text-wraper.full {
    width: calc(100% - 15px);
  }

  .options-panel {
    position: relative;
    transform: unset;
    top: 0%;
    left: 0%;
  }
  .options-panel.form {
    left: 0%;
    top: 0%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    height: 100%;
    max-height: 100%;
  }
  .options-panel.image {
    min-width: 350px;
    text-align: left;
    max-width: unset;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
  }
  .options-panel.image img {
    border-radius: 0px;
    max-height: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
  }

  .dave-chat {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
  }
  .chat-body {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
  }
  .powered_by {
    position: fixed;
    z-index: 10;
    right: 10px;
    top: 15%;
  }
  #fullscreen {
    position: absolute;
    right: 10px;
    margin-top: 12.5px;
  }

  .whiteboard {
    background-position-y: center;
    background-size: cover;
    background-position-x: right;
    background-blend-mode: hard-light;
  }
  .chat-header {
    padding: 0px;
    height: 60px;
    bottom: calc(10% + 270px);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -khtml-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -khtml-border-top-right-radius: 0px;
    width: 100%;
  }
  .current-message {
    overflow-y: unset;
    position: unset;
    width: calc(100vw - 75px);
    top: 0px;
    padding-left: 55px;
    padding-right: 5px;
  }
  .logo {
    padding: 4px;
  }
  .cc {
    margin: 15px 10px;
  }
  .loading {
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }
}

.cb__list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
}
.cb__list .bubble {
  display: inline-block;
  text-align: left;
  position: relative;
  padding: 6px 12px;
  font-family: "MyriadPro-Semibold";
  font-size: 15px;
  min-width: 44px;
  min-height: 12px;
}
.cb__list .bubble.typing {
  animation: cb-font-fade 1.2s ease-in-out infinite;
}

@keyframes cb-font-fade {
  50% {
    color: transparent;
  }
  100% {
    color: "inherit";
  }
}

@media only screen and (max-width: 767px) {
  .gifLoaderConversation {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
    /* left: 2.5%;
        top: 2.5%; */
    box-shadow: 0px 0px 20px 2px grey;
    border-radius: 20px;
  }
}


/*Babylon CSS Start*/
.dave_conversation {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.dave_chat {
  height: 500px;
  width: 100%;
  position: relative;
}

.chat_box {
  background: #164b91;
  height: 220px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 15px;
  border-radius: 15px;
  padding: 10px;
}

.chat_placeholder {
  height: 100px;
}

.chat_placeholder .response p {
  font-size: 14px;
  color: #fff;
}

.chat_placeholder .actions {
  text-align: right;
}

.chat_placeholder .actions a {
  display: block;
  font-size: 14px;
  margin-bottom: 18px;
}

.questions {
  height: 60px;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.questions .btn {
  display: inline-block;
  background: #fff !important;
  color: #164b91 !important;
  border-color: #fff !important;
  padding: 5px 8px;
}

/*=== Scrollbar === */
div {
  -ms-overflow-style: none;
  /* Edge, Internet Explorer */
  scrollbar-width: none;
  /* Firefox */
}

div::-webkit-scrollbar {
  /* width: 0; */
  width: 4px;
  /* Chrome, Safari, Opera */
}

.message_box .input_box .form-control {
  border-radius: 30px !important;
  border-color: #fff;
}

.message_box .input_box .btn {
  position: absolute;
  right: 57px;
  bottom: 10px;
  border: none;
  font-size: 20px;
  background: none;
}

.message_box .mic_box a {
  line-height: 30px;
}

.avatar_container {
  /*position: absolute;
  right: 0;
  height: 500px;
  bottom: 0;*/
  height: 500px;
}

.avatar_container canvas {
  /*height: 100%;
  position: relative;
  right: 300px;*/
  width: 100%;
  height: 100%;
}